<!DOCTYPE html>
<html>
<head>
    <title>Pakal</title>
</head>
<body>
    <h1>Welcome to Pakal!</h1>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <title>Pakal - Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/register" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Pakal - Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/register">Register</a> now!</p>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <title>Pakal - Profile</title>
</head>
<body>
    <h1>Profile</h1>
    {% if user %}
        <p>Name: {{ user['name'] }}</p>
        <p>Email: {{ user['email'] }}</p>
        <form action="/update_profile" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ user['name'] }}" required>
            <br><br>
            <input type="submit" value="Update Profile">
        </form>
        <p><a href="/logout">Logout</a></p>
    {% else %}
        <p>Please <a href="/">login</a> to view your profile.</p>
    {% endif %}
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <title>Pakal - Hotel Search</title>
</head>
<body>
    <h1>Hotel Search</h1>
    {% if user %}
        <form action="/search" method="POST">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
            <br><br>
            <input type="submit" value="Search">
        </form>
        <p><a href="/logout">Logout</a></p>
    {% else %}
        <p>Please <a href="/">login</a> to search for hotels.</p>
    {% endif %}
</body>
</html>



